body {
  width: 400px;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-input {
  margin: 5px; /* Equal gap above and below the input */
}

input#messageInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.kmlc-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Align items horizontally in the center */
  margin: -5px;
}

.kmlc-item {
  margin: 5px; /* Add margin between items for spacing */
}

button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}

button:hover {
  background-color: #2980b9;
}

select {
  padding: 5px;
  max-width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin: 5px;
}

#clearData {
  background-color: #e74c3c;
}

#clearData:hover {
  background-color: #c0392b;
}

#reloadExtension, #sendMessage {
  background-color: #27ae60;
}

#reloadExtension:hover, #sendMessage:hover {
  background-color: #219e54;
}

h2 {
  margin: 5px;
  font-size: 18px;
}

p {
  margin: 5px;
  font-size: 14px;
  color: #888;
}

#sendMessageToContentScript,
#sendMessageToBackgroundScript {
  width: 170px; /* Adjust the width to your preference */
}

pre {
  background-color: #2e2e2e;
  color: #f8f8f2;
  padding: 15px;
  border-radius: 5px;
  overflow: auto;
  font-family: monospace; /* Monospaced font for consistency */
  line-height: 1.5; /* Line height for readability */
  margin-top: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 14px;
  max-width: 350px;
  position: relative;
}

/* Syntax highlighting */
pre .key {
  color: #f92672;
}

pre .string {
  color: #a6e22e;
}

pre .number {
  color: #ae81ff;
}

pre .boolean {
  color: #66d9ef;
}

pre .null {
  color: #fd971f;
}

pre .brace {
  color: #f8f8f2;
}

.pre-container {
  position: relative;
  display: inline-block;
}

.copy-button {
  position: absolute;
  background-color: #2e2e2e;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  bottom: -10px;
  right: -4px;
}

.copy-button:hover {
  background-color: #222121;
}